[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/reddit
ExecStart=/bin/bash -lc 'puma'
Environment="DATABASE_URL=mongo_db_url"
Restart=always
[Install]
WantedBy=multi-user.target
